build
out
*.iml
.idea
gradle/**/*
.gradle
bin
target
gradlew
gradlew.bat
LICENSE
yarn.lock
spring.factories
lombok.config
*.png
*.properties
.prettierignore
.gitignore

# Kotlin is handled by ktlint plugin
*.kt
*.kts

.husky

org.springframework.boot.autoconfigure.AutoConfiguration.imports
io.micronaut.inject.annotation.AnnotationTransformer

doc/resources/**/*.xml
